<template lang="pug">
.about-container
  TheLoader(v-if="loading")
  template(v-else)
    .feature(v-for="feature in features" :key="feature.id")
      img(:src="formatImageUrl(feature.attributes.image?.data)")
      .feature-info
        .feature-info-title {{feature.attributes.title}}
        .feature-info-description {{feature.attributes.description}}
</template>

<script setup lang="ts">
import { onMounted, onServerPrefetch, ref } from 'vue'
import { useStore } from 'vuex'

import { FeatureApiInterface } from '@/types/api/feature.api.interface'
import FeaturesService from '@/services/features.service'
import formatImageUrl from '@/composables/formatImageUrl'
import TheLoader from '@/components/TheLoader.vue'

const loading = ref(false)
const features = ref<FeatureApiInterface[]>([])
const store = useStore()
const fetchInitialData = async () => {
  loading.value = true
  return FeaturesService.getFeatures().then((response) => {
    if (response.data.data) {
      store.dispatch('feature/setFeature', response.data.data)
      features.value = store.getters['feature/getFeature']
    }
  }).finally(() => {
    loading.value = false
  })
}

onServerPrefetch(async () => {
  await fetchInitialData()
})

onMounted(async () => {
  await fetchInitialData()
})
</script>

<style scoped lang="scss">
@import "src/scss/core/media";
.about-container {
  box-sizing: border-box;
  width: 100%;
  min-height: calc(100vh - 107px);
  background: #F8F3E9;
  padding: 50px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 107px);
  overflow-y: auto;
  &::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #ebeef2;
  }
  &::-webkit-scrollbar {
    width: 7px;
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(136, 145, 163, 0.7);
    border-radius: 4px;
  }
  @media only screen and (max-width: 900px) {
    padding: 20px;
    height: calc(100vh - 67px);
  }
  .feature {
    display: flex;
    flex-direction: row;
    align-items: center;
    &:nth-child(odd) {
      img {
        order: 0;
      }
    }
    &:nth-child(even) {
      img {
        order: 1;
      }
    }
    img {
      width: 50%;
    }
    &-info {
      display: flex;
      flex-direction: column;
      text-align: start;
      width: 50%;
      padding: 70px;
      @include media_tablet {
        padding: 0 30px;
      }
      &-title {
        font-family: 'Gilroy-Medium', sans-serif;
        font-size: 38px;
        line-height: 45px;
        letter-spacing: 0.09em;
        color: #3D3D3F;
      }
      &-description {
        margin-top: 30px;
        font-family: 'Gilroy-Regular', sans-serif;
        font-size: 20px;
        line-height: 30px;
        color: #3D3D3F;
      }
    }
    @include media_mobile {
      flex-direction: column;
      &-info, img {
        width: 100%;
      }
      &-info {
        padding: 30px;
      }
      &:nth-child(odd) {
        img {
          order: 1;
        }
      }
    }
  }
}
</style>
