<template lang="pug">
.cart-container(:class="{'empty':!cart.length}")
  LoginRequest(v-if="isLoginRequired" @close="close")
  TheLoader(v-if="loading")
  template(v-else-if="isAuth()")
    .empty-cart(v-if="!cart.length")
      p Your cart is empty
    template(v-else)
      button.remove-all(@click="clearCart") Remove all
      .cart-info
        .cart-items(v-for="item in cart" :key="item.id")
          img(:src="item.attributes.imageUrl")
          p.name {{item.attributes.name}}
          p.price $ {{item.attributes.price}}
          button.remove(@click="removeItem(item.id)")
      .total
        p.title Order Summary
        .summary
          p Items: {{total.items}}
          p $ {{total.price.toFixed(2)}}
        .buttons
          button(@click="backToShop")  Back to shop
          button  Checkout
        p.timer Booking time expires in {{formatNumber(timer/60)}}
  template(v-else)
    p.unauthorized Only login user can view cart. Please
    router-link.unauthorized(:to="{name: RouteName.Login}") Log in
</template>

<script setup lang="ts">
import { defineEmits, onMounted, onServerPrefetch, onUnmounted, ref } from 'vue'
import { useRouter } from 'vue-router'
import { useStore } from 'vuex'

import CartService from '@/services/cart.service'
import { CartApiInterface } from '@/types/api/cart.api.interface'
import { isAuth } from '@/helpers'
import { RouteName } from '@/enums/RouteName'

import TheLoader from '@/components/TheLoader.vue'
import LoginRequest from '@/components/LoginRequest.vue'

const emit = defineEmits(['changeCartCount'])
const loading = ref(false)
const cart = ref<CartApiInterface[]>([])
const total = ref({ items: 0, price: 0 })
const router = useRouter()
const store = useStore()
const isLoginRequired = ref(false)

const fetchInitialData = async () => {
  loading.value = true
  return CartService.getCart().then((response) => {
    store.dispatch('cart/setCart', response.data.data)
    cart.value = store.getters['cart/getCart']
    total.value.items = store.getters['cart/getCartSize']
    total.value.price = store.getters['cart/getTotalCartPrice']
  }).finally(() => {
    loading.value = false
  })
}
const close = () => {
  isLoginRequired.value = false
}
onServerPrefetch(async () => {
  await fetchInitialData()
})
onMounted(async () => {
  if (isAuth()) {
    await fetchInitialData()
  } else {
    isLoginRequired.value = true
  }
})

const timer = ref(300)
const interval = setInterval(() => {
  if (cart.value.length) {
    if (timer.value === 0) {
      clearInterval(interval)
      clearCart()
      emit('changeCartCount')
    } else {
      timer.value--
    }
  }
}, 1000)
const formatNumber = (time: number) => {
  return Math.floor(Number(time)) +
      ' min ' + ((Number(time) - Math.floor(Number(time))) * 60).toFixed(0) +
      ' sec.'
}

const removeItem = (itemId: number) => {
  loading.value = true
  return CartService.deleteCartItem({ id: itemId }).then(() => {
    store.dispatch('cart/removeCartItem', itemId)
    cart.value = store.getters['cart/getCart']
    total.value.items = store.getters['cart/getCartSize']
    total.value.price = store.getters['cart/getTotalCartPrice']
    emit('changeCartCount')
  }).finally(() => {
    loading.value = false
  })
}
const clearCart = () => {
  cart.value.forEach((item) => {
    loading.value = true
    return CartService.deleteCartItem({ id: item.id }).then(() => {
      store.dispatch('cart/removeCartItem', item.id)
      cart.value = store.getters['cart/getCart']
      total.value.items = store.getters['cart/getCartSize']
      total.value.price = store.getters['cart/getTotalCartPrice']
      emit('changeCartCount')
    }).finally(() => {
      loading.value = false
    })
  })
}

const backToShop = () => {
  router.push('/shop')
}

onUnmounted(async () => {
  await fetchInitialData()
  clearInterval(interval)
})
</script>

<style scoped lang="scss">
@import "src/scss/core/media";
.cart-container {
  box-sizing: border-box;
  width: 100%;
  min-height: calc(100vh - 107px);
  background: #F8F3E9;
  padding: 50px;
  display: flex;
  flex-direction: row;
  position: relative;
  height: calc(100vh - 107px);
  overflow-y: auto;
  &::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #ebeef2;
  }

  &::-webkit-scrollbar {
    width: 7px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(136, 145, 163, 0.7);
    border-radius: 4px;
  }
  @include media_mobile {
    min-height: calc(100vh - 67px);
    flex-direction: column;
  }
  &.empty {
    justify-content: center;
  }
  .empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      opacity: 50%;
      width: 15%;
    }
    p {
      margin-top: 30px;
      font: normal 600 50px/117px 'Noto Serif JP', sans-serif;
      color: #2C2A2B;
      opacity: 50%;
      position: relative;
      &::before {
        content: "";
        width: 100px;
        height: 100px;
        position: absolute;
        bottom: 95px;
        left: calc(50% - 50px);
        background: url("../assets/empty-cart.png") 50% no-repeat;
        background-size: contain;
        @include media_mobile {
          display: none;
        }
      }
    }
  }
  .remove-all {
    position: fixed;
    top: 115px;
    right: 55px;
    cursor: pointer;
    background: #0056C2;
    border: none;
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.12px;
    color: #FFFFFF;
    padding: 10px;
    @include media_mobile {
      top: 75px;
    }
  }
  .cart-info {
    display: flex;
    flex-direction: column;
    width: calc(100% - 315px);
    @include media_mobile {
      width: 100%;
      margin-top: 240px;
    }
    .cart-items {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 4px 22px rgba(43, 44, 48, 0.16);
      border-radius: 10px;
      margin: 5px;
      padding: 5px;
      @media only screen and (max-width: 800px) {
        flex-direction: column;
      }
      img {
        width: 10%;
        height: 100px;
        object-fit: contain;
        @media only screen and (max-width: 800px) {
          width: 100%;
        }
      }
      .name, .price {
        font-family: 'Gilroy-Medium', sans-serif;
        font-size: 14px;
        line-height: 21px;
        color: #3D3D3F;
        width: 50%;
        @media only screen and (max-width: 800px) {
          width: 100%;
        }
      }
      .price {
        width: 20%;
        @media only screen and (max-width: 800px) {
          width: 100%;
        }
      }
      button {
        width: 20%;
        margin: 30px;
        @media only screen and (max-width: 800px) {
          width: 100%;
        }
      }
      .remove {
        width: 20px;
        height: 20px;
        background: url("../assets/delete.png") 50% no-repeat;
        border: none;
        cursor: pointer;
        @media only screen and (max-width: 800px) {
          width: 100%;
        }
      }
    }
  }
  .total {
    position: fixed;
    right: 50px;
    border-radius: 10px;
    margin: 5px;
    width: 305px;
    box-shadow: 0 4px 22px rgba(43, 44, 48, 0.16);
    padding: 30px;
    max-height: 230px;
    z-index: 2;
    background: #F8F3E9;
    @include media_mobile {
      right: 55px;
      width: calc(100% - 116px);
      padding: 15px;
    }
    p {
      text-align: start;
      white-space: nowrap;
      margin-bottom: 20px;
      font-family: "Gilroy-Medium", sans-serif;
      font-size: 16px;
      line-height: 21px;
      color: #3D3D3F;
      &:first-of-type {
        margin-right: 10px;
      }
      &.title {
        font-size: 18px;
        white-space: normal;
      }
      &.timer {
        margin-top: 10px;
        font-size: 13px;
        color: red;
        white-space: normal;
      }
    }
    .summary {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      border-top: 1px solid black;
      padding-top: 30px;
    }
    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      button {
        background: #0056C2;
        border: none;
        border-radius: 6px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: -0.12px;
        color: #FFFFFF;
        padding: 10px;
        cursor: pointer;
        width: 120px;
        @include media_mobile {
          padding: 10px 5px;
          width: 105px;
        }
      }
    }
  }
  .unauthorized {
    font: 500 16px/21px "Gilroy-Medium", sans-serif;
    color: #3D3D3F;
  }
  a.unauthorized {
    text-decoration: none;
    margin-left: 5px;
    font: 600 18px/21px "Gilroy-Medium", sans-serif;
  }
}
</style>
