<template lang="pug">
.reset-password-container
  TheLoader(v-if="loading")
  template(v-else)
    .left-side(:class="{'animation': isClickSignIn}")
      .logo J-Shop
      p.title Welcome Back!
      p.description To keep connected with us please login with your personal info
      button(@click="signIn") Sign In
      p.description or you can create a new Account
      button(@click="signUp") Sign Up
    .right-side
      template(v-if="step === 1")
        p.title Trouble logging in?
        p Enter your email and we'll send you a link to get back into your account.
        form
          input(type="email" placeholder="Email" v-model="emailForm.email")
          p.error(v-if="isEmailError") Email must be in format any@any.any
          p.error(v-if="isEmailRequired") Email required
          input(type="submit" value="Send Instructions" @click.prevent="sendEmail")
      template(v-else-if="step === 2" )
        p.message Instructions have been emailed to
        p.message.email {{emailForm.email}}.
        p.message Check and follow the link from the email.
</template>

<script setup lang="ts">
import { ref, watch } from 'vue'
import { useRouter } from 'vue-router'

import AuthService from '@/services/auth.service'
import { RouteName } from '@/enums/RouteName'
import emailValidationRule from '@/validators/emailValidationRule'
import TheLoader from '@/components/TheLoader.vue'

const router = useRouter()
const loading = ref(false)
const isClickSignIn = ref(false)
const signIn = () => {
  isClickSignIn.value = true
  setTimeout(() => router.push({ name: RouteName.Login }), 500)
}
const signUp = () => {
  isClickSignIn.value = true
  setTimeout(() => router.push({ name: RouteName.Register }), 500)
}

const step = ref(1)
const emailForm = ref({
  email: '',
  url: 'http:/localhost:1337/admin/plugins/users-permissions/auth/reset-password'
})
const isEmailError = ref(false)
const isEmailRequired = ref(false)
const sendEmail = () => {
  if (emailValidationRule(emailForm.value.email)) {
    loading.value = true
    return AuthService.forgotPassword(emailForm.value)
      .then(() => { step.value = 2 }).finally(() => {
        loading.value = false
      })
  } else if (!emailForm.value.email) {
    isEmailRequired.value = true
  }
}
watch(() => emailForm.value.email, (value) => {
  isEmailRequired.value = false
  isEmailError.value = !emailValidationRule(value)
})
</script>

<style scoped lang="scss">
@import "src/scss/core/media";
.reset-password-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  @include media_mobile {
    flex-direction: column;
  }
  .left-side {
    width: 45%;
    background: linear-gradient(#f1a24a, #f6eee1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    position: relative;
    transition: 0.5s all;
    @include media_mobile {
      width: 100%;
    }
    &.animation {
      transform: translateX(122%);
      p, .logo {
        opacity: 0;
      }
      button {
        display: none;
      }
      @include media_mobile {
        transform: translateY(200%) scaleY(5);
      }
    }
    .logo {
      position: absolute;
      top: 20px;
      left: 20px;
      font-family: 'Playfair Display', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;
      color: #2C2A2B;
      text-decoration: none;
      transition: 0.5s all;
      animation: 0.7s show
    }
    .title, .description {
      font: normal 700 48px/69px 'Gilroy-Medium';
      letter-spacing: 0.05em;
      color: #2C2A2B;
      transition: 0.5s all;
      animation: 0.7s show;
      @include media_mobile {
        font: normal 700 30px/40px 'Gilroy-Medium';
      }
    }
    @keyframes show {
      0% {opacity: 0}
      50% {opacity: 0.5}
      100% {opacity: 1}
    }
    .description {
      margin-top: 20px;
      font: normal 400 30px/30px 'Gilroy-Medium';
      @include media_mobile {
        margin-top: 5px;
        font: normal 400 25px/21px 'Gilroy-Medium';
      }
    }
    button {
      margin-top: 30px;
      background: #FFFFFF;
      box-shadow: 0 1px 0 #E2E6ED;
      padding: 10px 40px;
      font: normal 500 20px 'Gilroy-Medium';
      color: #2C2A2B;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      transition: 0.5s all;
      animation: 0.7s show;
      @include media_mobile {
        margin-top: 10px;
      }
    }
  }
  .right-side {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: 0.7s show;
    @include media_mobile {
      width: 100%;
      padding: 40px;
    }
    .title {
      font: normal 700 48px/69px 'Gilroy-Medium';
      letter-spacing: 0.05em;
      color: #2C2A2B;
      @include media_mobile {
        font: normal 700 40px/45px "Gilroy-Medium";
        margin-bottom: 10px;
      }
    }
    .social-icons {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      .facebook, .gmail, .linkedin {
        width: 50px;
        height: 50px;
        margin: 5px;
        background: url("../assets/facebook.svg") 50% no-repeat;
        background-size: contain;
        cursor: pointer;
      }
      .gmail {
        background: url("../assets/google-plus.svg") 50% no-repeat;
        background-size: contain;
      }
      .linkedin {
        background: url("../assets/linkedin.svg") 50% no-repeat;
        background-size: contain;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      width: 40%;
      align-items: center;
      @include media_mobile {
        width: 80%;
      }
      input {
        margin-top: 20px;
        font: normal 400 20px 'Gilroy-Medium';
        color: rgba(44, 42, 43, 0.5);
        background: #f6eee1;
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        width: 100%;
        &[type="submit"] {
          width: 60%;
          color: rgb(255, 255, 255);
          background: #f1a24a;
          cursor: pointer;
        }
      }
      .error {
        margin-top: 10px;
        color: red;
      }
    }
    p.message {
      margin-top: 20px;
      font: normal 400 27px/20px 'Gilroy-Medium';
      &.email {
        font-weight: 600;
      }
    }
  }
}
</style>
