<template lang="pug">
.main-page-container
  .left-side
    .left-side-image
    .left-side-title Jewelery tells a great story
  .right-side
    .right-side-title Our Story
    .right-side-description modern jewelry is made of gold, silver, or platinum, often with precious or semiprecious stones, it evolved from shells, animal teeth, and other items used as body decoration in prehistoric times.
    .right-side-image
</template>

<style scoped lang="scss">
@import "src/scss/core/media";
.main-page-container {
  box-sizing: border-box;
  width: 100%;
  min-height: calc(100vh - 107px);
  background: #F8F3E9;
  padding: 50px;
  display: flex;
  flex-direction: row;
  @include media_mobile {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    @include media_mobile {
      width: 100%
    }
    &-image {
      background: url("../assets/main-ring.png") 50% no-repeat;
      width: 100%;
      height: 268px;
      margin-bottom: 30px;
      background-size: contain;
      @include media_mobile {
        margin-bottom: 0;
      }
    }
    &-title {
      font: normal 600 90px/117px 'Noto Serif JP', sans-serif;
      color: #2C2A2B;
      @media only screen and (max-width: 1100px) {
        font: normal 600 70px/100px 'Noto Serif JP', sans-serif;
      }
      @include media_tablet {
        font: normal 600 50px/60px 'Noto Serif JP', sans-serif;
      }
      @include media_mobile {
        font: normal 600 40px/60px 'Noto Serif JP', sans-serif;
      }
    }
  }
  .right-side {
    display: flex;
    flex-direction: column;
    width: 50%;
    @media only screen and (max-width: 1100px) {
      margin-left: 20px;
    }
    @include media_mobile {
      width: 100%
    }
    &-title {
      font: normal 500 34px/49px 'Noto Serif JP', sans-serif;
      color: #2C2A2B;
      max-width: 50%;
      text-align: start;
      margin-bottom: 20px;
      @media only screen and (max-width: 1100px) {
        max-width: 100%;
      }
      @include media_mobile {
        text-align: center;
      }
    }
    &-description {
      font: 18px/25px 'Gilroy-Medium', sans-serif;
      color: #3D3D3F;
      max-width: 50%;
      text-align: start;
      @media only screen and (max-width: 1100px) {
        max-width: 100%;
      }
      @include media_mobile {
        font: 20px/28px 'Gilroy-Medium', sans-serif;
        text-align: center;
      }
    }
    &-image {
      margin-top: 30px;
      background: url("../assets/main-ring-2.png") 50% no-repeat;
      width: 100%;
      height: 449px;
      background-size: contain;
    }
  }
}
</style>
