<template lang="pug">
.not-found-container
  p.title Page not found!
  router-link(to="/") Return to Home
</template>

<style scoped lang="scss">
@import "src/scss/core/media";
.not-found-container {
  box-sizing: border-box;
  width: 100%;
  min-height: calc(100vh - 107px);
  background: #F8F3E9;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include media_mobile {
    min-height: calc(100vh - 67px);
  }
  .title {
    font: normal 700 49px/69px 'Noto Serif JP', sans-serif;
    letter-spacing: 0.05em;
    color: #2C2A2B;
  }
  a {
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #2C2A2B;
    text-decoration: none;
  }
}
</style>
