<template lang="pug">
.product-info-container
  LoginRequest(v-if="isLoginRequired" @close="close")
  ImageView(v-if="isImageView" :image-url="clickedImageUrl" @close="isImageView=false")
  router-link(to='/shop')
    .arrow-back
  TheLoader(v-if="loading")
  .scrollable(v-else)
    ImageCarousel(v-if="product.attributes.imagesUrl" :images-url="product.attributes.images.data" @clickedImg="openImageView")
    .product-info
      .product-info-name {{product.attributes.name}}
      RatingStars(:id="product.id" :read-only="true")
      .product-info-description {{product.attributes.description}}
      .product-info-actions
        .like(@click="addLike(product.id)" :class="{'clicked':isAuth() && product.attributes.isLike}")
        .dislike(@click="addDislike(product.id)" :class="{'clicked':isAuth() && product.attributes.isDislike}")
        .add-to-wish-list(@click="addToWishList(product.id)" :class="{'clicked':isAuth() && product.attributes.isFavorite}")
      .product-info-price
        button.add-to-cart(@click="addToCart(product.id)") Add to cart
          .notification(v-if="isAddToCart && clickedItem === product.id") Added
        button(@click="goToCart" v-if="isAddToCart && clickedItem === product.id") Go to cart
        p $ {{product.attributes.price}}
      .product-info-description {{product.attributes.longDescription}}
      .product-info-details
        .specification(@click="pageId=1" :class="{'border': pageId===1}") Specification
        .reviews(@click="pageId=2" :class="{'border': pageId===2}") Reviews
      ReviewInfo(v-if="pageId===2" :id="product.id")
      .product-info-specification(v-if="pageId===1" v-html="product.attributes.specification")
</template>

<script setup lang="ts">
import { onMounted, onServerPrefetch, ref, defineEmits } from 'vue'
import { useRoute, useRouter } from 'vue-router'
import { useStore } from 'vuex'

import TheLoader from '@/components/TheLoader.vue'
import RatingStars from '@/components/RatingStars.vue'
import ReviewInfo from '@/components/ReviewInfo.vue'
import ImageView from '@/components/ImageView.vue'
import ImageCarousel from '@/components/ImageCarousel.vue'
import LoginRequest from '@/components/LoginRequest.vue'

import ProductsService from '@/services/products.service'
import CartService from '@/services/cart.service'
import { ProductApiInterface } from '@/types/api/product.api.interface'
import { isAuth } from '@/helpers'
import formatImageUrl from '@/composables/formatImageUrl'

const pageId = ref(1)
const route = useRoute()
const store = useStore()
const product = ref<ProductApiInterface>({
  id: Number(route.params.id),
  attributes: {
    name: '',
    description: '',
    price: 0,
    mainImageUrl: '1.1.png',
    imagesUrl: '',
    isLike: false,
    isDislike: false,
    isFavorite: false,
    uri: ''
  }
})
const emit = defineEmits(['changeCartCount', 'changeWishListCount'])
const loading = ref(false)
const isLoginRequired = ref(false)
const router = useRouter()
const fetchInitialData = async () => {
  loading.value = true
  return ProductsService.getProduct().then((response) => {
    if (response.data.data) {
      store.dispatch('shop/setProduct', response.data.data)
      product.value = store.getters['shop/getProductById'](route.params.id)
    }
  }).finally(() => {
    loading.value = false
  })
}
onServerPrefetch(async () => {
  if (!store.getters['shop/getShopSize']) await fetchInitialData()
})
onMounted(async () => {
  if (!store.getters['shop/getShopSize']) {
    await fetchInitialData()
  } else {
    product.value = store.getters['shop/getProductById'](route.params.id)
  }
})

const isAddToCart = ref(false)
const clickedItem = ref(0)
const addToCart = (id: number) => {
  if (isAuth() && product.value) {
    loading.value = true
    return CartService.postCartItem({
      data: {
        name: product.value.attributes.name,
        imageUrl: formatImageUrl(product.value.attributes?.image?.data),
        price: product.value.attributes.price
      }
    }).then(() => {
      isAddToCart.value = true
      clickedItem.value = id
      emit('changeCartCount')
    }).finally(() => {
      loading.value = false
    })
  } else {
    isLoginRequired.value = true
  }
}
const goToCart = () => {
  router.push('/shopping-cart')
}
const addToWishList = (id: number) => {
  if (isAuth() && product.value) {
    return ProductsService.changeIsFavorite({ id: id, isFavorite: !product.value.attributes.isFavorite }).then(() => {
      store.dispatch('shop/changeIsFavorite', id)
      emit('changeWishListCount')
    })
  } else {
    isLoginRequired.value = true
  }
}
const addLike = (id: number) => {
  if (isAuth() && product.value) {
    return ProductsService.changeIsLike({ id: id, isLike: !product.value.attributes.isLike }).then(() => {
      store.dispatch('shop/changeIsLike', id)
    })
  } else {
    isLoginRequired.value = true
  }
}
const addDislike = (id: number) => {
  if (isAuth() && product.value) {
    return ProductsService.changeIsDislike({ id: id, isDislike: !product.value.attributes.isDislike }).then(() => {
      store.dispatch('shop/changeIsDislike', id)
    })
  } else {
    isLoginRequired.value = true
  }
}
const close = () => {
  isLoginRequired.value = false
}

const isImageView = ref(false)
const clickedImageUrl = ref('')
const openImageView = (img: string) => {
  isImageView.value = true
  clickedImageUrl.value = img
}
</script>

<style scoped lang="scss">
@import "src/scss/core/media";
.product-info-container {
  box-sizing: border-box;
  width: 100%;
  background: #F8F3E9;
  padding: 50px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 107px);
  position: relative;
  overflow-y: auto;
  &::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #ebeef2;
  }
  &::-webkit-scrollbar {
    width: 7px;
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(136, 145, 163, 0.7);
    border-radius: 4px;
  }
  @include media_mobile {
    min-height: calc(100vh - 67px);
  }
  .arrow-back {
    position: absolute;
    background: url("../assets/right-arrow-for-product.svg") 50% no-repeat;
    transform: rotate(180deg);
    width: 50px;
    height: 50px;
    top: 0;
    left: 81px;
    opacity: 0.5;
    cursor: pointer;
    @include media_mobile {
      left: 20px;
    }
  }
  .scrollable {
    display: flex;
    flex-direction: row;
    @include media_mobile {
      flex-direction: column;
      &:deep(.image-carousel) {
        width: 100%;
      }
    }
    .product-info {
      width: 50%;
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      text-align: start;
      height: calc(100vh - 125px);
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 0;
      }
      @include media_tablet {
        padding: 20px;
        height: calc(100vh - 200px);
      }
      @include media_mobile {
        width: 100%;
        overflow-y: visible;
      }
      &-name {
        font: normal 700 48px/69px 'Noto Serif JP', sans-serif;
        letter-spacing: 0.05em;
        color: #2C2A2B;
        @include media_tablet {
          font: normal 700 30px/37px 'Noto Serif JP', sans-serif;
        }
      }
      &-description {
        font-family: 'Gilroy-Medium', sans-serif;
        font-size: 14px;
        line-height: 21px;
        color: #3D3D3F;
        margin-top: 30px;
      }
      &-actions {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        .like, .dislike, .add-to-wish-list {
          width: 30px;
          height: 30px;
          margin-right: 30px;
          background: url("../assets/like.svg") 50% no-repeat;
          background-size: contain;
          cursor: pointer;
          color: #070707;
        }
        .like {
          &.clicked {
            filter: invert(42%) sepia(93%) saturate(779%) hue-rotate(82deg) brightness(102%) contrast(87%);
          }
        }
        .dislike {
          transform: rotate(180deg);
          &.clicked {
            filter: invert(26%) sepia(86%) saturate(924%) hue-rotate(328deg) brightness(101%) contrast(86%);
          }
        }
        .add-to-wish-list {
          background: url("../assets/add-to-wish-list.svg") 50% no-repeat;
          &.clicked {
            filter: invert(26%) sepia(92%) saturate(7380%) hue-rotate(356deg) brightness(102%) contrast(121%);
          }
        }
      }
      &-price {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 50px;
        button {
          position: relative;
          background: #3D3D3F;
          border: none;
          font: 20px/23px 'Gilroy-Medium', sans-serif;
          text-align: center;
          text-transform: uppercase;
          white-space: nowrap;
          color: #FFFFFF;
          padding: 15px 36px;
          margin-right: 20px;
          margin-bottom: 10px;
          cursor: pointer;
          max-width: 200px;
          min-width: 200px;
          .notification {
            position: absolute;
            padding: 5px 10px;
            background: #FFFFFF;
            border-radius: 6px;
            left: 70px;
            bottom: 55px;
            font: 14px/21px 'Gilroy-Medium', sans-serif;
            color: #3D3D3F;
            box-shadow: 0 4px 22px rgba(43, 44, 48, 0.16);
            opacity: 1;
            animation: moveNotification 3s;
          }
          @keyframes moveNotification {
            0% { opacity: 1; }
            100% { opacity: 0; }
          }
        }
        p {
          font: normal 900 36px/52px 'Noto Serif JP', sans-serif;
          color: #2C2A2B;
          white-space: nowrap;
        }
      }
      &-details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
        .specification, .reviews {
          font: 14px/21px 'Gilroy-Medium', sans-serif;
          color: #3D3D3F;
          padding: 10px;
          border: 1px solid rgba(0, 0, 0, 0.2);
          width: 50%;
          cursor: pointer;
          &.border {
            border-bottom: 4px solid rgba(0, 0, 0, 0.2);
            background: #ffefd5;
          }
          &:hover {
            background: #ffefd5;
          }
        }
        .specification {
          border-right: none;
        }
      }
      &-specification {
        padding: 10px 0;
        width: 100%;
        &:deep(table) {
          width: 100%;
          tr {
            td {
              width: 50%;
              border: 1px solid rgba(0, 0, 0, 0.2);
              padding: 10px;
              font: 14px/21px 'Gilroy-Medium', sans-serif;
              color: #3D3D3F;
              &:first-of-type {
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }
}
</style>
