<template lang="pug">
.shop-container
  LoginRequest(v-if="isLoginRequired" @close="close")
  ImageView(v-if="isImageView" :image-url="clickedImageUrl" @close="isImageView=false")
  TheLoader(v-if="loading")
  .scrolable(v-else)
    .product(v-for="product in products" :key="product.id")
      ImageZoom(:imgNormal="formatImageUrl(product.attributes.image?.data)" @click="openImageView(product.id)")
      .product-info
        .product-info-name {{product.attributes.name}}
        RatingStars(:id="product.id" :read-only="true")
        .product-info-description {{product.attributes.description}}
        .product-info-actions
          .like(@click="addLike(product.id)" :class="{'clicked':isAuth() && product.attributes.isLike}")
          .dislike(@click="addDislike(product.id)" :class="{'clicked':isAuth() && product.attributes.isDislike}")
          .add-to-wish-list(@click="addToWishList(product.id)" :class="{'clicked':isAuth() && product.attributes.isFavorite}")
        .product-info-price
          button.add-to-cart(@click="addToCart(product.id)") Add to cart
            .notification(v-if="isAddToCart && clickedItem === product.id") Added
          button(@click="goToCart" v-if="isAddToCart && clickedItem === product.id") Go to cart
          p $ {{product.attributes.price}}
      .arrow(@click="goToProductInfo(product.id)")
</template>

<script setup lang="ts">
import { onMounted, onServerPrefetch, ref, defineEmits } from 'vue'
import { useRouter } from 'vue-router'
import { useStore } from 'vuex'

import { ProductApiInterface } from '@/types/api/product.api.interface'
import ProductsService from '@/services/products.service'
import CartService from '@/services/cart.service'
import { RouteName } from '@/enums/RouteName'
import formatImageUrl from '@/composables/formatImageUrl'
import { isAuth } from '@/helpers'

import TheLoader from '@/components/TheLoader.vue'
import RatingStars from '@/components/RatingStars.vue'
import ImageZoom from '@/components/ImageZoom.vue'
import ImageView from '@/components/ImageView.vue'
import LoginRequest from '@/components/LoginRequest.vue'

const emit = defineEmits(['changeCartCount', 'changeWishListCount'])
const loading = ref(false)
const products = ref<ProductApiInterface[]>([])
const router = useRouter()
const store = useStore()
const fetchInitialData = async () => {
  loading.value = true
  return ProductsService.getProduct().then((response) => {
    if (response.data.data) {
      store.dispatch('shop/setProduct', response.data.data)
      products.value = store.getters['shop/getProduct']
    }
  }).finally(() => {
    loading.value = false
  })
}
onServerPrefetch(async () => {
  await fetchInitialData()
})
onMounted(async () => {
  await fetchInitialData()
})

const isLoginRequired = ref(false)
const isAddToCart = ref(false)
const clickedItem = ref(0)
const addToCart = (id: number) => {
  if (!isAuth()) {
    isLoginRequired.value = true
  } else {
    loading.value = true
    const item = products.value.filter((item) => item.id === id)[0]
    return CartService.postCartItem({
      data: {
        name: item.attributes.name,
        imageUrl: formatImageUrl(item?.attributes?.image?.data),
        price: item.attributes.price
      }
    }).then(() => {
      isAddToCart.value = true
      clickedItem.value = id
      emit('changeCartCount')
    }).finally(() => {
      loading.value = false
    })
  }
}
const goToCart = () => {
  router.push('/shopping-cart')
}
const goToProductInfo = (id: number) => {
  const uri = products.value.filter((item) => item.id === id)[0].attributes.uri
  router.push({ name: RouteName.Product, params: { id, uri } })
}
const addToWishList = (id: number) => {
  if (!isAuth()) {
    isLoginRequired.value = true
  } else {
    const item = products.value.filter((item) => item.id === id)[0]
    return ProductsService.changeIsFavorite({ id: id, isFavorite: !item.attributes.isFavorite }).then(() => {
      store.dispatch('shop/changeIsFavorite', id)
      emit('changeWishListCount')
    })
  }
}
const addLike = (id: number) => {
  if (!isAuth()) {
    isLoginRequired.value = true
  } else {
    const item = products.value.filter((item) => item.id === id)[0]
    return ProductsService.changeIsLike({ id: id, isLike: !item.attributes.isLike }).then(() => {
      store.dispatch('shop/changeIsLike', id)
    })
  }
}
const addDislike = (id: number) => {
  if (!isAuth()) {
    isLoginRequired.value = true
  } else {
    const item = products.value.filter((item) => item.id === id)[0]
    return ProductsService.changeIsDislike({ id: id, isDislike: !item.attributes.isDislike }).then(() => {
      store.dispatch('shop/changeIsDislike', id)
    })
  }
}
const close = () => {
  isLoginRequired.value = false
}

const isImageView = ref(false)
const clickedImageUrl = ref('')
const openImageView = (id: number) => {
  isImageView.value = true
  clickedImageUrl.value = formatImageUrl(products.value.filter((item) => item.id === id)[0].attributes.image?.data)
}
</script>

<style scoped lang="scss">
@import "src/scss/core/media";
.shop-container {
  box-sizing: border-box;
  width: 100%;
  background: #F8F3E9;
  padding: 50px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 107px);
  overflow-y: auto;
  &::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #ebeef2;
  }

  &::-webkit-scrollbar {
    width: 7px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(136, 145, 163, 0.7);
    border-radius: 4px;
  }
  @include media_mobile {
    min-height: calc(100vh - 67px);
  }
  .product {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    @include media_mobile {
      flex-direction: column;
      &:deep(.zoom-on-hover) {
        width: 100%;
      }
    }
    &:nth-child(odd) {
      img {
        order: 0;
      }
    }
    &:nth-child(even) {
      img {
        order: 1;
      }
    }
    img {
      width: 45%;
    }
    &-info {
      width: 50%;
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      text-align: start;
      @include media_tablet {
        padding: 20px;
      }
      @include media_mobile {
        width: 100%;
      }
      &-name {
        font: normal 700 48px/69px 'Noto Serif JP', sans-serif;
        letter-spacing: 0.05em;
        color: #2C2A2B;
        @include media_tablet {
          font: normal 700 30px/37px 'Noto Serif JP', sans-serif;
        }
      }
      &-description {
        font-family: 'Gilroy-Medium', sans-serif;
        font-size: 14px;
        line-height: 21px;
        color: #3D3D3F;
        margin-top: 30px;
      }
      &-actions {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        .like, .dislike, .add-to-wish-list {
          width: 30px;
          height: 30px;
          margin-right: 30px;
          background: url("../assets/like.svg") 50% no-repeat;
          background-size: contain;
          cursor: pointer;
          color: #070707;
        }
        .like {
          &.clicked {
            filter: invert(42%) sepia(93%) saturate(779%) hue-rotate(82deg) brightness(102%) contrast(87%);
          }
        }
        .dislike {
          transform: rotate(180deg);
          &.clicked {
            filter: invert(26%) sepia(86%) saturate(924%) hue-rotate(328deg) brightness(101%) contrast(86%);
          }
        }
        .add-to-wish-list {
          background: url("../assets/add-to-wish-list.svg") 50% no-repeat;
          &.clicked {
            filter: invert(26%) sepia(92%) saturate(7380%) hue-rotate(356deg) brightness(102%) contrast(121%);
          }
        }
      }
      &-price {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 50px;
        button {
          background: #3D3D3F;
          border: none;
          font: 20px/23px 'Gilroy-Medium', sans-serif;
          text-align: center;
          white-space: nowrap;
          text-transform: uppercase;
          color: #FFFFFF;
          padding: 15px 36px;
          max-width: 200px;
          min-width: 200px;
          cursor: pointer;
          margin-right: 20px;
          margin-bottom: 10px;
          position: relative;
          .notification {
            position: absolute;
            padding: 5px 10px;
            background: #FFFFFF;
            border-radius: 6px;
            left: 70px;
            bottom: 55px;
            font-family: 'Gilroy-Medium', sans-serif;
            font-size: 14px;
            line-height: 21px;
            color: #3D3D3F;
            box-shadow: 0 4px 22px rgba(43, 44, 48, 0.16);
            opacity: 1;
            animation: moveNotification 3s;
          }
          @keyframes moveNotification {
            0% { opacity: 1; }
            100% { opacity: 0; }
          }
        }
        p {
          font: normal 900 36px/52px 'Noto Serif JP', sans-serif;
          color: #2C2A2B;
          white-space: nowrap;
        }
      }
    }
    .arrow {
      position: absolute;
      visibility: hidden;
      top: 0;
      right: 0;
      width: 5%;
      height: 50px;
      opacity: 0.5;
      cursor: pointer;
      background: url("../assets/right-arrow-for-product.svg") 50% no-repeat;
    }
    &:hover {
      .arrow {
        visibility: visible;
      }
    }
  }
}
</style>
