<template lang="pug">
.login-container
  TheLoader(v-if="loading")
  template(v-else)
    .left-side
      .logo J-Shop
      p.title Login to Your Account
      p.social Login using social networks
      .social-icons
        .facebook
        .gmail
        .linkedin
      form
        input(type="email" placeholder="Email" v-model="form.identifier")
        p.error(v-if="isEmailError") Email must be in format any@any.any
        input(type="password" placeholder="Password" v-model="form.password")
        p.error(v-if="isPasswordError") Password must be at least 6 characters.
        input(type="submit" value="Sign in" @click.prevent="handleSubmit")
      p.forgot-password(@click="forgotPassword") Forgot password
    .right-side(:class="{'animation': isClickSignUp}")
      p.title New here?
      p.description Please register and discover a great amount of new opportunities!
      button(@click="signUp") Sign Up
</template>

<script setup lang="ts">
import { useStore } from 'vuex'
import { ref, watch } from 'vue'
import { useRouter } from 'vue-router'

import AuthService from '@/services/auth.service'
import { RouteName } from '@/enums/RouteName'
import emailValidationRule from '@/validators/emailValidationRule'
import passwordValidationRule from '@/validators/passwordValidationRule'
import TheLoader from '@/components/TheLoader.vue'

const loading = ref(false)
const store = useStore()
const router = useRouter()
const form = ref({
  identifier: '',
  password: ''
})
const isEmailError = ref(false)
const isPasswordError = ref(false)
const handleSubmit = () => {
  loading.value = true
  if (emailValidationRule(form.value.identifier) && passwordValidationRule(form.value.password)) {
    return AuthService.login(form.value)
      .then((res) => {
        if (res.data) {
          if (res.data.jwt) {
            store.dispatch('user/setAccessToken', res.data.jwt)
          }
          if (res.data.user) {
            store
              .dispatch('user/setCurrentUser', res.data.user).then(() => {
                router.push({ name: RouteName.Home })
              })
          }
        }
      })
      .finally(() => {
        loading.value = false
      })
  }
}
watch(() => form.value.identifier, (value) => {
  isEmailError.value = !emailValidationRule(value)
})
watch(() => form.value.password, (value) => {
  isPasswordError.value = !passwordValidationRule(value)
})

const isClickSignUp = ref(false)
const signUp = () => {
  isClickSignUp.value = true
  setTimeout(() => router.push({ name: RouteName.Register }), 500)
}
const forgotPassword = () => {
  isClickSignUp.value = true
  setTimeout(() => router.push({ name: RouteName.ForgotPassword }), 500)
}
</script>

<style scoped lang="scss">
@import "src/scss/core/media";
.login-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  @include media_mobile {
    flex-direction: column;
  }
  .left-side {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    animation: 0.7s show;
    @include media_mobile {
      width: 100%;
      padding: 40px;
    }
    .logo {
      position: absolute;
      top: 20px;
      left: 20px;
      font-family: 'Playfair Display', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;
      color: #2C2A2B;
      text-decoration: none;
    }
    .title {
      font: normal 700 48px/69px 'Gilroy-Medium';
      letter-spacing: 0.05em;
      color: #2C2A2B;
      @include media_mobile {
        font: normal 700 40px/45px "Gilroy-Medium";
      }
    }
    .social {
      margin-top: 20px;
      font: normal 400 20px 'Gilroy-Medium';
      color: rgba(44, 42, 43, 0.5);
    }
    .social-icons {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      .facebook, .gmail, .linkedin {
        width: 50px;
        height: 50px;
        margin: 5px;
        background: url("../assets/facebook.svg") 50% no-repeat;
        background-size: contain;
        cursor: pointer;
      }
      .gmail {
        background: url("../assets/google-plus.svg") 50% no-repeat;
        background-size: contain;
      }
      .linkedin {
        background: url("../assets/linkedin.svg") 50% no-repeat;
        background-size: contain;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      margin-bottom: 20px;
      width: 40%;
      align-items: center;
      @include media_tablet {
        width: 70%;
      }
      input {
        margin-top: 20px;
        font: normal 400 20px 'Gilroy-Medium';
        color: rgba(44, 42, 43, 0.5);
        background: #f6eee1;
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        width: 100%;
        &[type="submit"] {
          width: 60%;
          color: rgb(255, 255, 255);
          background: #f1a24a;
          cursor: pointer;
        }
      }
      .error {
        margin-top: 10px;
        color: red;
      }
    }
    .forgot-password {
      cursor: pointer;
      &:hover {
        font-weight: bold;
      }
    }
  }
  .right-side {
    width: 45%;
    background: linear-gradient(#f1a24a, #f6eee1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    transition: 0.5s all;
    @include media_mobile {
      width: 100%;
    }
    &.animation {
      transform: translateX(-122%);
      p {
        opacity: 0;
      }
      button {
        display: none;
      }
      @include media_mobile {
        transform: translateY(-200%) scaleY(5);
      }
    }
    .title, .description {
      font: normal 700 48px/69px 'Gilroy-Medium';
      letter-spacing: 0.05em;
      color: #2C2A2B;
      transition: 0.5s all;
      animation: 0.7s show;
      @include media_mobile {
        font: normal 700 40px/45px "Gilroy-Medium";
      }
    }
    .description {
      margin-top: 20px;
      font: normal 400 30px/30px 'Gilroy-Medium';
      @include media_mobile {
        font: normal 400 21px/30px 'Gilroy-Medium';
      }
    }
    button {
      margin-top: 30px;
      background: #FFFFFF;
      box-shadow: 0 1px 0 #E2E6ED;
      padding: 10px 40px;
      font: normal 500 20px 'Gilroy-Medium';
      color: #2C2A2B;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      transition: 0.5s all;
      animation: 0.7s show
    }
    @keyframes show {
      0% {opacity: 0}
      50% {opacity: 0.5}
      100% {opacity: 1}
    }
  }
}
</style>
