<template lang="pug">
.wish-list-container
  LoginRequest(v-if="isLoginRequired" @close="close")
  TheLoader(v-if="loading")
  template(v-else-if="isAuth()")
    .empty-wish-list(v-if="!wishList.length")
      p Your wishlist is empty
    template(v-else)
      button.remove-all(@click="clearWishList") Remove all
      .wish-list-info
        .wish-list-items(v-for="item in wishList" :key="item.id")
          img(:src="formatImageUrl(item.attributes.image?.data)")
          p.name {{item.attributes.name}}
          p.price $ {{item.attributes.price}}
          button.add-to-cart(@click="addToCart(item.id)") Add to cart
          button.remove(@click="removeItem(item.id)")
  template(v-else)
    p.unauthorized Only login user can view wish-list. Please
    router-link.unauthorized(:to="{name: RouteName.Login}") Log in
</template>

<script setup lang="ts">
import { defineEmits, onMounted, onServerPrefetch, ref } from 'vue'
import { useStore } from 'vuex'

import CartService from '@/services/cart.service'
import ProductsService from '@/services/products.service'
import { ProductApiInterface } from '@/types/api/product.api.interface'
import formatImageUrl from '@/composables/formatImageUrl'
import { isAuth } from '@/helpers'
import { RouteName } from '@/enums/RouteName'

import TheLoader from '@/components/TheLoader.vue'
import LoginRequest from '@/components/LoginRequest.vue'

const emit = defineEmits(['changeCartCount', 'changeWishListCount'])
const loading = ref(false)
const isLoginRequired = ref(false)

const wishList = ref<ProductApiInterface[]>([])
const store = useStore()
const fetchInitialData = async () => {
  loading.value = true
  return ProductsService.getProduct().then((response) => {
    store.dispatch('shop/setProduct', response.data.data)
    wishList.value = store.getters['shop/getWishList']
  }).finally(() => {
    loading.value = false
  })
}
const close = () => {
  isLoginRequired.value = false
}
onServerPrefetch(async () => {
  await fetchInitialData()
})
onMounted(async () => {
  if (isAuth()) {
    await fetchInitialData()
  } else {
    isLoginRequired.value = true
  }
})
const removeItem = (itemId: number) => {
  const item = wishList.value.filter((item) => item.id === itemId)[0]
  loading.value = true
  return ProductsService.changeIsFavorite({ id: itemId, isFavorite: !item.attributes }).then(() => {
    store.dispatch('shop/changeIsFavorite', itemId)
    wishList.value = store.getters['shop/getWishList']
    emit('changeWishListCount')
  }).finally(() => {
    loading.value = false
  })
}
const clearWishList = () => {
  store.dispatch('wishList/clearWishList')
  wishList.value.forEach((item) => {
    loading.value = true
    return ProductsService.changeIsFavorite({ id: item.id, isFavorite: !item.attributes.isFavorite }).then(() => {
      store.dispatch('shop/changeIsFavorite', item.id)
      wishList.value = store.getters['shop/getWishList']
      emit('changeWishListCount')
    }).finally(() => {
      loading.value = false
    })
  })
}
const addToCart = (id: number) => {
  const item = wishList.value.filter((item) => item.id === id)[0]
  loading.value = true
  return CartService.postCartItem({
    data: {
      name: item.attributes.name,
      imageUrl: formatImageUrl(item?.attributes?.image?.data),
      price: item.attributes.price
    }
  }).then((response) => {
    if (response.data.data) {
      store.dispatch('cart/setCart', response.data.data)
      removeItem(id)
      wishList.value = store.getters['shop/getWishList']
      emit('changeCartCount')
    }
  }).finally(() => {
    loading.value = false
  })
}
</script>

<style scoped lang="scss">
@import "src/scss/core/media";
.wish-list-container {
  box-sizing: border-box;
  width: 100%;
  min-height: calc(100vh - 107px);
  background: #F8F3E9;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  height: calc(100vh - 107px);
  overflow-y: auto;
  &::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #ebeef2;
  }

  &::-webkit-scrollbar {
    width: 7px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(136, 145, 163, 0.7);
    border-radius: 4px;
  }
  @include media_mobile {
    min-height: calc(100vh - 67px);
  }
  .empty-wish-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      margin-top: 30px;
      font-family: 'Noto Serif JP', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 55px;
      line-height: 117px;
      color: #2C2A2B;
      opacity: 50%;
      position: relative;
      &::before {
        content: "";
        width: 100px;
        height: 100px;
        position: absolute;
        bottom: 95px;
        left: calc(50% - 50px);
        background: url("../assets/wishlist.png") 50% no-repeat;
        background-size: contain;
        @include media_mobile {
          display: none;
        }
      }
    }
  }
  .remove-all {
    position: absolute;
    top: 10px;
    right: 55px;
    cursor: pointer;
    background: #0056C2;
    border: none;
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.12px;
    color: #FFFFFF;
    padding: 10px;
  }
  .wish-list-info {
    display: flex;
    flex-direction: column;
    width: 80%;
    @include media_tablet {
      width: 100%;
    }
    .wish-list-items {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 4px 22px rgba(43, 44, 48, 0.16);
      border-radius: 10px;
      margin: 5px;
      padding: 5px;
      @include media_mobile {
        flex-direction: column;
      }
      img {
        width: 10%;
        height: 100px;
        object-fit: contain;
        @include media_mobile {
          width: 100%;
        }
      }
      .name, .price {
        font-family: 'Gilroy-Medium', sans-serif;
        font-size: 14px;
        line-height: 21px;
        color: #3D3D3F;
        width: 40%;
        @include media_mobile {
          width: 100%;
        }
      }
      .price {
        width: 20%;
        @include media_mobile {
          width: 100%;
        }
      }
      .remove {
        width: 20px;
        height: 20px;
        background: url("../assets/delete.png") 50% no-repeat;
        border: none;
        cursor: pointer;
        margin: 30px;
        @include media_mobile {
          width: 100%;
        }
      }
      .add-to-cart {
        background: #3D3D3F;
        border: none;
        font-family: 'Gilroy-Medium', sans-serif;
        font-size: 17px;
        line-height: 10px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 15px;
        cursor: pointer;
        margin-right: 20px;
        white-space: nowrap;
      }
    }
  }
  .unauthorized {
    font: 500 16px/21px "Gilroy-Medium", sans-serif;
    color: #3D3D3F;
  }
  a.unauthorized {
    text-decoration: none;
    margin-left: 5px;
    font: 600 18px/21px "Gilroy-Medium", sans-serif;
  }
}
</style>
