<template lang="pug">
.zoom-on-hover(ref="el" :class="{zoomed}" @touchstart="touchZoom" @mousemove="move" @mouseenter="zoom" @mouseleave="unZoom")
  span.normal(ref="normal" :style="{backgroundImage:'url(' + imgNormal + ')'}" @click="resize")
    span.magnifying-glass(ref="zoomEl" :style="{backgroundImage:'url(' + imgNormal + ')', backgroundPosition: backgroundPos}" @click="resize")
</template>

<script setup lang="ts">
import { defineProps, defineEmits, onMounted, onUnmounted, onUpdated, ref } from 'vue'

const props = defineProps({
  imgNormal: String,
  imgZoom: String,
  scale: String,
  disabled: Boolean
})
const el = ref<HTMLInputElement | null>(null)
const zoomEl = ref<HTMLInputElement | null>(null)
const normal = ref<HTMLInputElement | null>(null)
const scaleFactor = ref(1.5)
const resizeCheckInterval = ref<null | number>()
const zoomed = ref(false)
const backgroundPos = ref('0 0')
const pageOffset = (el: HTMLElement) => {
  const rect = el.getBoundingClientRect()
  const scrollLeft = document.documentElement.scrollLeft
  const scrollTop = document.documentElement.scrollTop
  return {
    y: rect.top + scrollTop,
    x: rect.left + scrollLeft
  }
}
const touchZoom = (event: Event) => {
  if (props.disabled) return
  move(event)
  zoomed.value = !zoomed.value
}
const zoom = () => {
  if (!props.disabled) zoomed.value = true
}
const unZoom = () => {
  if (!props.disabled) zoomed.value = false
}
const move = (event: any) => {
  if (props.disabled || !zoomed.value) return
  if (el.value && zoomEl.value && normal.value) {
    const offset = pageOffset(el.value)
    const relativeX = event.clientX - offset.x
    const relativeY = event.clientY - offset.y
    const normalFactorX = relativeX / normal.value.offsetWidth
    const normalFactorY = relativeY / normal.value.offsetHeight
    const x = normalFactorX * (zoomEl.value.offsetWidth * scaleFactor.value - normal.value.offsetWidth)
    const y = normalFactorY * (zoomEl.value.offsetHeight * scaleFactor.value - normal.value.offsetHeight)
    zoomEl.value.style.left = -x + 'px'
    zoomEl.value.style.top = -y + 'px'
    backgroundPos.value = `${relativeX / normal.value.offsetWidth * 100}% ${relativeY / normal.value.offsetHeight * 100}%`
  }
}
const initEventLoaded = () => {
  const promises = [zoomEl.value, normal.value].map((image) => {
    return new Promise(function (resolve, reject) {
      if (image) {
        image.addEventListener('load', resolve)
        image.addEventListener('error', reject)
      }
    })
  })
}
const emit = defineEmits(['resized'])
const initEventResized = () => {
  if (normal.value && resizeCheckInterval.value) {
    let previousWidth = normal.value.offsetWidth
    let previousHeight = normal.value.offsetHeight
    resizeCheckInterval.value = setInterval(function () {
      if ((previousWidth !== normal.value?.offsetWidth) || (previousHeight !== normal.value.offsetHeight)) {
        previousWidth = normal.value?.offsetWidth as number
        previousHeight = normal.value?.offsetHeight as number
        emit('resized', {
          height: normal.value?.height,
          width: normal.value?.width
        })
      }
    }, 1000)
  }
}
const resize = () => {
  emit('resized')
}
onMounted(() => {
  if (props.scale && zoomEl.value) {
    scaleFactor.value = parseInt(props.scale)
    zoomEl.value.style.transform = 'scale(' + scaleFactor.value + ')'
  }
  initEventLoaded()
  initEventResized()
})
onUpdated(() => {
  initEventLoaded()
})
onUnmounted(() => {
  resizeCheckInterval.value && clearInterval(resizeCheckInterval.value)
})
</script>

<style scoped lang="scss">
.zoom-on-hover {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 50%;
  height: 500px;
  cursor: none;
}
.zoom-on-hover .normal {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  .magnifying-glass {
    position: absolute;
    opacity: 0;
    transform-origin: top left;
    transform: scale(1.5);
  }
}
.zoom-on-hover.zoomed .normal{
  .magnifying-glass {
    opacity: 1;
    position: absolute;
    border: 1px solid #9d9a9a;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    transform-origin: top left;
    background: #F8F3E9 no-repeat;
    pointer-events: none;
  }
}
</style>
