<template lang="pug">
.image-view-container
  button.close(@click="close") +
  ImageZoom(:img-normal="imageUrl" @resized="resize")
</template>

<script setup lang="ts">
import { defineProps, defineEmits, ref } from 'vue'
import ImageZoom from '@/components/ImageZoom.vue'

const disabled = ref(true)
const props = defineProps({
  imageUrl: String
})
const emit = defineEmits(['close'])
const resize = () => {
  disabled.value = false
}
const close = () => {
  emit('close')
}
</script>

<style scoped lang="scss">
$image-width: 500px;
* {
  box-sizing: border-box;
}
.image-view-container {
  z-index: 15;
  position: fixed;
  top: 0;
  left: 0;
  margin: 30px;
  min-width: calc(100% - 60px);
  min-height: calc(100vh - 60px);
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  &:deep(.zoom-on-hover.zoomed) {
    .magnifying-glass {
      background: white no-repeat;
    }
  }
  .close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    background: transparent;
    border: none;
    transform: rotate(45deg);
    font: 30px 'Gilroy-Medium', sans-serif;
  }
}
</style>
