<template lang="pug">
.image-carousel.slider
  .btn.btn-prev(aria-label="Previous slide" @click="slide(-1)")
  .slide(:key="current")
    ImageZoom(:imgNormal="slides[current].image" @click="openImageView(slides[current].image)")
  .btn.btn-next(aria-label="Next slide" @click="slide(1)")
</template>

<script setup lang="ts">
import { defineProps, defineEmits, onMounted, ref, PropType } from 'vue'
import ImageZoom from '@/components/ImageZoom.vue'
import { ImageApiInterface } from '@/types/api/image.api.interface'
import formatImageUrl from '@/composables/formatImageUrl'

const props = defineProps({
  imagesUrl: Object as PropType<ImageApiInterface[]>
})
const emit = defineEmits(['clickedImg'])
const current = ref(0)
const direction = ref(1)
const transitionName = ref('fade')
const slides = ref([
  { image: require('../assets/no_photo_found.png') }
])
const slide = (dir: number) => {
  direction.value = dir
  dir === 1
    ? (transitionName.value = 'slide-next')
    : (transitionName.value = 'slide-prev')
  const len = slides.value.length
  current.value = (current.value + dir % len + len) % len
}
const openImageView = (img: string) => {
  emit('clickedImg', img)
}
onMounted(async () => {
  slides.value = []
  props.imagesUrl?.forEach((item: ImageApiInterface) => {
    slides.value.push({ image: formatImageUrl(item) })
  })
})
</script>

<style scoped lang="scss">
.image-carousel {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  .slide {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    &:deep(.zoom-on-hover) {
      width: 100%;
    }
  }

  .btn {
    z-index: 10;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    transition: transform 0.3s ease-in-out;
    user-select: none;
  }

  .btn-next {
    background: url("../assets/right-arrow.svg") 50% no-repeat;
    filter: invert(100%) sepia(3%) saturate(13%) hue-rotate(81deg) brightness(106%) contrast(106%);
  }
  .btn-prev {
    background: url("../assets/left-arrow.svg") 50% no-repeat;
    filter: invert(100%) sepia(3%) saturate(13%) hue-rotate(81deg) brightness(106%) contrast(106%);
  }

  .btn:hover {
    transform: scale(1.3);
  }
}
</style>
