<template lang="pug">
.login-request-container
  .login-request-container-modal
    p.title You must be logged in to continue
    button(@click="goToLogin") Login
    button(@click="goToPreviousPage") Cancel
</template>

<script setup lang="ts">
import { defineEmits } from 'vue'
import { useRouter } from 'vue-router'
import { RouteName } from '@/enums/RouteName'

const router = useRouter()
const emit = defineEmits(['close'])
const goToLogin = () => {
  router.push({ name: RouteName.Login })
}
const goToPreviousPage = () => {
  emit('close')
}
</script>

<style scoped lang="scss">
.login-request-container {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(7, 7, 7, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 10;
  .login-request-container-modal {
    margin: 20px;
    background: #FFFFFF;
    padding: 30px;
    border-radius: 10px;
    z-index: 10;
    .title {
      font: normal 700 48px/69px 'Gilroy-Medium';
      letter-spacing: 0.05em;
      color: #2C2A2B;
    }
    button {
      margin: 30px 10px 20px 10px;
      background: #f1a24a;
      box-shadow: 0 1px 0 #E2E6ED;
      padding: 10px 40px;
      font: normal 500 20px 'Gilroy-Medium';
      //color: #2C2A2B;
      color: #FFFFFF;
      border: none;
      border-radius: 20px;
      cursor: pointer;
    }
  }
}
</style>
