<template lang="pug">
.rating(:class="{'editable': !readOnly}")
  span(v-for="n in 5" :class="{'checked': n <= rating}" @click="changeRating(n), rating=n")
</template>

<script setup lang="ts">
import { defineProps, defineEmits, onMounted, ref, onServerPrefetch } from 'vue'
import { useStore } from 'vuex'
import ProductsService from '@/services/products.service'
import { useRouter } from 'vue-router'

const rating = ref()
const store = useStore()
const router = useRouter()
const loading = ref(false)
const props = defineProps({
  id: Number,
  rating: Number,
  readOnly: Boolean
})
const emit = defineEmits('changeRating')
const changeRating = (changesRating: number) => {
  emit('changeRating', changesRating)
}
const fetchInitialData = async () => {
  loading.value = true
  return ProductsService.getProduct().then((response) => {
    if (response.data.data) {
      store.dispatch('shop/setProduct', response.data.data)
      setData()
    }
  }).finally(() => {
    loading.value = false
  })
}
onServerPrefetch(async () => {
  if (!store.getters['shop/getShopSize']) await fetchInitialData()
})
onMounted(async () => {
  if (!store.getters['shop/getShopSize']) {
    await fetchInitialData()
  }
  setData()
})
const setData = () => {
  if (props.id) {
    const ratingArray = []
    store.getters['shop/getProductById'](props.id).attributes.review.forEach((item) => {
      ratingArray.push(item.rating)
    })
    rating.value = ratingArray.reduce((p, c) => p + c, 0) / ratingArray.length
  } else if (props.rating) {
    rating.value = props.rating
  }
}
</script>

<style scoped lang="scss">
* { box-sizing: border-box; }

.rating {
  display: flex;
  justify-content: start;
  flex-direction: row;
  position: relative;
  width: fit-content;
  span {
    width: 40px;
    height: 40px;
    margin-top: auto;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 76%;
    transition: .3s;
    &.checked {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    }
  }
  &.editable {
    &:hover > span {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    }
    span {
      cursor: pointer;
      &:hover ~ span {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
      }
    }
  }
}
</style>
