<template lang="pug">
.review-container
  .token-check(v-if="!isAuth()")
    p Only login user can set reviews. Please
    router-link(:to="{name: RouteName.Login}") Log in
  .new-review(v-if="isAuth()")
    input(type="text" placeholder="Name" v-model="newReview.name" )
    RatingStars(@changeRating="changeRating")
    textarea(placeholder="Your review" v-model="newReview.review" )
    p.error(v-if="error") All fields are required
    button(@click.prevent="setReview") Add review
  .review-item(v-for="item in review" :key="review.id")
    .name {{item.name}}
    RatingStars.rating(:rating="item.rating" :read-only="true")
    .review "{{item.review}}"
</template>

<script setup lang="ts">
import { defineProps, onMounted, onServerPrefetch, ref } from 'vue'
import { useStore } from 'vuex'

import RatingStars from '@/components/RatingStars.vue'
import { ReviewApiInterface } from '@/types/api/review.api.interface'
import ProductsService from '@/services/products.service'
import reviewValidationRule from '@/validators/reviewValidationRule'
import { RouteName } from '@/enums/RouteName'
import { isAuth } from '@/helpers'

const store = useStore()
const loading = ref(false)
const props = defineProps({
  id: Number
})
const review = ref<ReviewApiInterface[]>([])
const fetchInitialData = async () => {
  loading.value = true
  return ProductsService.getProduct().then((response) => {
    if (response.data.data) {
      store.dispatch('shop/setProduct', response.data.data)
      review.value = store.getters['shop/getProductById'](props.id).attributes.review
    }
  }).finally(() => {
    loading.value = false
  })
}
onServerPrefetch(async () => {
  if (!store.getters['shop/getShopSize']) await fetchInitialData()
})
onMounted(async () => {
  if (!store.getters['shop/getShopSize']) {
    await fetchInitialData()
  }
  review.value = store.getters['shop/getProductById'](props.id).attributes.review
})

const error = ref(false)
const newReview = ref<ReviewApiInterface>({
  name: '',
  review: '',
  rating: 0
})
const changeRating = (data: number) => {
  newReview.value.rating = data
}
const setReview = () => {
  if (reviewValidationRule(newReview.value)) {
    review.value.push(newReview.value)
    newReview.value = {
      name: '',
      review: '',
      rating: 0
    }
    return ProductsService.setReview({
      id: props.id as number,
      review: review.value
    })
  } else {
    error.value = true
  }
}
</script>

<style scoped lang="scss">
* {
  box-sizing: border-box;
}
.review-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  .token-check {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    p, a {
      font: 14px/21px 'Gilroy-Medium', sans-serif;
      color: #3D3D3F;
    }
    a {
      margin-left: 5px;
      text-decoration: none;
      font-weight: 600;
    }
  }
  .new-review {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    input, textarea {
      font: 14px/21px 'Gilroy-Medium', sans-serif;
      color: #3D3D3F;
      padding: 10px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 6px;
      margin: 10px 0;
    }
    .error {
      font: 14px/21px 'Gilroy-Medium', sans-serif;
      color: red;
      margin-bottom: 10px;
    }
    button {
      background: #3D3D3F;
      border: none;
      border-radius: 6px;
      font-family: "Gilroy-Medium", sans-serif;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      padding: 15px 36px;
      cursor: pointer;
    }
  }
  .review-item {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
    .rating {
      position: absolute;
      top: 0;
      right: 0;
    }
    .name, .review {
      font: 14px/21px 'Gilroy-Medium', sans-serif;
      color: #3D3D3F;
    }
  }
}
</style>
