<template lang="pug">
.header-container
  router-link.logo(to="/") J-Shop
  nav
    router-link(v-for="navigation in navigations" :key="navigation.title" :to="navigation.link") {{navigation.title}}
  .menu
    .search
    router-link.cart(:to="{name: RouteName.ShoppingCard}")
      .cart-count(v-if="cartCount && isAuth()") {{formatCount(cartCount)}}
    router-link.wish-list(:to="{name: RouteName.WishList}")
      .wish-list-count(v-if="wishListCount && isAuth()") {{formatCount(wishListCount)}}
    .burger-menu(@click="toggleMenu")
    .burger-menu-list(v-if="isOpenMenu" @click="toggleMenu")
      router-link(v-for="navigation in navigations" :key="navigation.title" :to="navigation.link") {{navigation.title}}
      p.logout(@click="logout" :class="{'disabled': !isAuth()}") Logout
    p.name {{user.username}}
    router-link(v-if="!isAuth()" :to="{name: RouteName.Login}") Sign In
</template>

<script setup lang="ts">
import { defineProps, ref } from 'vue'

import store from '@/store'
import router from '@/router'
import { RouteName } from '@/enums/RouteName'
import { isAuth } from '@/helpers'

const props = defineProps({
  cartCount: Number,
  wishListCount: Number
})
const navigations = [
  {
    title: 'Categories',
    link: '/categories'
  },
  {
    title: 'About',
    link: '/about'
  },
  {
    title: 'Shop',
    link: '/shop'
  },
  {
    title: 'Contact',
    link: '/contact'
  }
]

const formatCount = (count: number | string) => {
  if (count > 5) {
    return '5+'
  }
  return count
}
const isOpenMenu = ref(false)
const toggleMenu = () => {
  isOpenMenu.value = !isOpenMenu.value
}
const user = store.getters['user/getUser']
const logout = () => {
  if (user.username) {
    toggleMenu()
    store.dispatch('user/logout')
    router.push({ name: RouteName.Login })
  }
}
</script>

<style scoped lang="scss">
@import "src/scss/core/media";
.header-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #F8F3E9;
  padding: 40px 80px;
  @include media_mobile {
    padding: 20px 15px;
  }
  .logo {
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #2C2A2B;
    text-decoration: none;
    white-space: nowrap;
  }
  nav {
    a {
      font: normal 400 17px/17px 'ABeeZee';
      color: #2C2A2B;
      margin: 0 40px;
      text-decoration: none;
      @include media_tablet {
        margin: 0 20px;
        &:first-of-type, &:last-of-type {
          display: none;
        }
      }
      @include media_mobile {
        display: none;
      }
    }
  }
  .menu {
    display: flex;
    flex-direction: row;
    .search, .cart, .wish-list, .burger-menu {
      width: 20px;
      height: 20px;
      margin: 0 20px;
      border: none;
      cursor: pointer;
    }
    .search {
      background: url("../assets/search.svg") 50% no-repeat;
    }
    .cart {
      background: url("../assets/cart.svg") 50% no-repeat;
      position: relative;
      &-count {
        position: absolute;
        bottom: 14px;
        left: 14px;
        width: 20px;
        height: 20px;
        background: #ea8383;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        font: normal 400 12px/12px "ABeeZee";
        color: #070707;
      }
    }
    .wish-list {
      background: url("../assets/wish-list.png") 50% no-repeat;
      background-size: contain;
      position: relative;
      &-count {
        position: absolute;
        bottom: 14px;
        left: 14px;
        width: 20px;
        height: 20px;
        background: #ea8383;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        font: normal 400 12px/12px "ABeeZee";
        color: #070707;
      }
    }
    .burger-menu {
      background: url("../assets/burger-menu.svg") 50% no-repeat;
    }
    .burger-menu-list {
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 65px;
      right: 140px;
      background: #FFFFFF;
      box-shadow: 0 1px 0 #E2E6ED;
      text-align: left;
      z-index: 5;
      @include media_mobile {
        right: 65px;
      }
      p, a {
        padding: 5px 10px;
        font: normal 400 14px/17px 'ABeeZee';
        color: #2C2A2B;
        text-decoration: none;
        cursor: pointer;
        &:hover {
          background: #f6eee1;
        }
        &.logout {
          color: #9d9a9a;
          &.disabled {
           display: none;
          }
        }
      }
    }
    p, a {
      font: normal 400 17px/17px 'ABeeZee';
      color: #2C2A2B;
      text-decoration: none;
      white-space: nowrap;
    }
  }
}
</style>
