<template lang="pug">
TheHeader(:cartCount="cartCount" :wishListCount="wishListCount")
router-view(@changeCartCount="getCartCount" @changeWishListCount="getWishListCount")
</template>

<script setup lang="ts">
import { onMounted, onServerPrefetch, ref } from 'vue'
import { useStore } from 'vuex'

import CartService from '@/services/cart.service'
import ProductsService from '@/services/products.service'
import TheHeader from '@/components/TheHeader.vue'

const store = useStore()
const cartCount = ref()
const wishListCount = ref()
const token = store.getters['user/getAccessToken']

const getCartCount = async () => {
  return CartService.getCart().then((response) => {
    store.dispatch('cart/setCart', response.data.data)
    cartCount.value = store.getters['cart/getCartSize']
  })
}
const getWishListCount = async () => {
  return ProductsService.getProduct().then((response) => {
    store.dispatch('shop/setProduct', response.data.data)
    wishListCount.value = store.getters['shop/getWishListCount']
  })
}
onServerPrefetch(async () => {
  if (token) {
    await getCartCount()
    await getWishListCount()
  }
})
onMounted(async () => {
  if (token) {
    await getCartCount()
    await getWishListCount()
  }
})
</script>
